* {
    font-family: "Montserrat", sans-serif;
}

.bg-nav {
    background-color: #a0137c;
}

.bg-nav ul li a {
    color: white;
}

.bg-nav ul li a:hover {
    color: white;
}

header {
    background-image: url("img/home/hedaer_home.png");
    background-blend-mode: multiply;
    background-size: cover;
    padding: 230px 0 160px;
    margin-top: -120px;
    text-align: center;
}

header p {
    font-style: italic;
    color: white;
    margin: 0;
    letter-spacing: 0.4em;
}

header h1 {
    color: white;
    font-size: 64px;
    line-height: 0.85em;
}

header a {
    border: none;
    outline: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 100px;
    padding: 12px 24px;
    background-color: white;
    color: #a0137c;
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    margin-top: 8em;
}

footer .footer-sub {
    padding-top: 50px;
}

footer .footer-sub h3 {
    padding-top: 50px;
    color: #a0137c;
    font-weight: bold;
    font-style: italic;
}

footer .footer-sub p {
    text-align: justify;
    justify-content: center;
}

footer .footer-sub ul li a {
    font-style: italic;
    text-decoration: none;
}