* {
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    .navbar-profile {
        @media (max-width: "932px") {
            display: none !important;
        }
    }
}

.button-navbar:hover {
    outline: none;
}

// HOME
.bg-nav {
    background-image: rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), url('img/home/hedaer_home.png');
    background-color: #a0137c;
    ul li a {
        color: white;
    }
}

.hero-home {
    height: 110vh;
    width: 100%;
    background-blend-mode: multiply;
    justify-content: center;
    background-image: url('img/home/hedaer_home.png');
    background-size: cover;
    margin-top: -120px;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
        color: white;
    }
    h1 {
        font-size: 100px;
        color: white;
    }
    .button-readmore {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .hero-home {
        padding-top: 150px;
    }
}

@media (max-width: 480px) {
    .nav-tog {
        padding-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .nav-tog {
        padding-bottom: 100px;
    }
}

@media (max-width: 480px) {
    .text-home {
        h6 {
            font-weight: 400;
            color: white;
        }
        h1 {
            font-weight: bold;
            font-size: larger;
        }
    }
}

//DELIVERY & REFUND POLICY
section {
    h1 {
        background-color: #a0137c !important;
        color: white;
        font-size: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .payment {
        justify-content: center !important;
        width: fit-content;
        padding-left: 40px !important;
        padding-right: 40px !important;
        color: white;
        font-size: 28px;
        text-align: center;
    }
    .shipping-media {
        @media (max-width: "932px") {
            padding-top: 70px;
        }
        @media (max-width: "320px") {
            padding-top: 70px;
        }
        .img-payment {
            padding-left: 50px !important;
            border-radius: 10px;
        }
        .shipping {
            justify-content: center !important;
            width: fit-content;
            padding-left: 40px !important;
            padding-right: 40px !important;
            color: white;
            font-size: 28px;
            text-align: center;
        }
        .img-shipping {
            border-radius: 10px;
            // padding-left: 50px !important;
            border-radius: 10px;
        }
    }
}

//ABOUT US
.main-about {
    height: 500px;
    width: 100%;
    background-image: url("img/about_us/about_uss.png");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 632px) {
        .border-about {
            display: none;
        }
    }
}

//END ABOUT US
//CONTACT US
.main-contact {
    height: 110vh;
    width: 100%;
    background-image: url("img/contact_us/photo_2021-11-14_18-35-51.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-contact h2 {
    color: #676767;
    font-style: italic;
    background-color: white;
    border: 3px solid white;
    padding: 20px 25px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 1;
}

//GALLERY
.h2-gallery {
    text-align: center;
}

.gallery-mobile {
    .responsiv {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .gallery-web {
        display: none;
    }
}

//main-process-mobile
@media (max-width: 1440px) {
    .gallery-mobile {
        display: none;
        // visibility: visible;
    }
}

//main-process-mobile
@media (max-width: 632px) {
    .gallery-mobile {
        display: block;
        // visibility: visible;
    }
}

//PRODUCT
.main-product {
    height: 110vh;
    width: 100%;
    background-image: url("img/background.png");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-product1 {
    height: 110vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/background.png");
    background-blend-mode: multiply;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 632px) {
        .desktop {
            display: none;
        }
    }
}

@media (max-width: 632px) {
    .desktop {
        display: none;
    }
}

@media (max-width: 1440px) {
    .mobile {
        display: none;
        // visibility: visible;
    }
}

//main product-mobil
@media (max-width: 632px) {
    .mobile {
        display: block;
        // visibility: visible;
    }
}

.main-product h2 {
    color: #1d6fb8;
    font-style: italic;
    background-color: white;
    border: 3px solid white;
    padding: 20px 25px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 1;
}

// FOOTER
footer {
    .footer-sub {
        padding-top: 50px;
        h3 {
            padding-top: 50px;
            color: #a0137c;
            font-weight: bold;
            font-style: italic;
        }
        p {
            text-align: justify;
            justify-content: center;
        }
        ul {
            li a {
                font-style: italic;
                text-decoration: none;
            }
        }
    }
}

//PROCESS
.main-process {
    height: 110vh;
    // width: 100%;
    background-image: url("img/process/process_header.png");
    background-size: cover;
    background-color: #a0137c;
    background-blend-mode: multiply;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 100px;
    }
}

.main-process h2 {
    font-size: 40px;
    color: white;
    font-style: italic;
    padding: 20px 25px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 1;
}

.main-process3 {
    height: 480px;
    width: 100%;
    background-color: #a0137c;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-mobile {
    background-color: #a0137c;
    .responsiv {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}

//main-process-web
@media (max-width: 480px) {
    .main-process3 {
        display: none;
    }
}

//main-process-mobile
@media (max-width: 1440px) {
    .main-mobile {
        display: none;
        // visibility: visible;
    }
}

//main-process-mobile
@media (max-width: 632px) {
    .main-mobile {
        display: block;
        // visibility: visible;
    }
}

//ENDPROCESS