* {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 932px) {
  .navbar .navbar-profile {
    display: none !important;
  }
}

body,
html {
  height: 100%;
  margin: 0;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/bg@2x.png");
  background-color: #a0137c;
  background-blend-mode: multiply;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  margin-top: 8em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text p {
  margin: 0;
  letter-spacing: 0.4em;
}

.hero-text h1 {
  font-size: 64px;
  line-height: 0.85em;
}

.hero-text a {
  border: none;
  outline: 0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border-radius: 100px;
  padding: 12px 24px;
  background-color: white;
  color: #a0137c;
  text-decoration: none;
  font-weight: 700;
  font-size: large;
  margin-top: 8em;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.break {
  height: 100px;
  background-color: white;
}

.bg-white {
  background-color: white;
}

section h1 {
  background-color: #a0137c !important;
  color: white;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

section .payment {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 40px !important;
  padding-right: 40px !important;
  color: white;
  font-size: 28px;
  text-align: center;
}

@media (max-width: 932px) {
  section .shipping-media {
    padding-top: 70px;
  }
}

section .shipping-media .img-payment {
  padding-left: 50px !important;
  border-radius: 10px;
}

section .shipping-media .shipping {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 40px !important;
  padding-right: 40px !important;
  color: white;
  font-size: 28px;
  text-align: center;
}

section .shipping-media .img-shipping {
  border-radius: 10px;
  padding-left: 50px !important;
  border-radius: 10px;
}

.main-about {
  height: 110vh;
  /* width: 100%; */
  background-image: url("img/background.png");
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-about h3 {
  color: #0f73af;
  font-style: italic;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  padding: 20px 25px;
  z-index: 1;
}

.main-about h2 {
  color: white;
  font-style: italic;
  border-bottom: #0f73af;
  padding: 20px 25px;
  z-index: 1;
}

.mainp-about p {
  padding-top: 70px;
  text-align: justify;
}

.main-contact {
  height: 110vh;
  /* width: 100%; */
  background-image: url("img/background.png");
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-contact h2 {
  color: #676767;
  font-style: italic;
  background-color: white;
  border: 3px solid white;
  padding: 20px 25px;
  z-index: 1;
}

.h2-gallery {
  text-align: center;
}

.h2-product {
  color: #0f73af;
}

footer .footer-sub {
  padding-top: 50px;
}

footer .footer-sub h3 {
  padding-top: 50px;
  color: #a0137c;
  font-weight: bold;
  font-style: italic;
}

footer .footer-sub p {
  text-align: justify;
}

footer .footer-sub ul li a {
  font-style: italic;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */

@media only screen and (min-width: 768px) {
  .hero-text h1 {
    font-size: 8em;
    line-height: 0.85em;
  }
}
