* {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 932px) {
  .navbar .navbar-profile {
    display: none !important;
  }
}

.button-navbar:hover {
  outline: none;
}

.bg-nav {
  background-image: rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), url("img/home/hedaer_home.png");
  background-color: #a0137c;
}

.bg-nav ul li a {
  color: white;
}

.hero-home {
  height: 110vh;
  width: 100%;
  background-blend-mode: multiply;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("img/home/hedaer_home.png");
  background-size: cover;
  margin-top: -120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-home p {
  color: white;
}

.hero-home h1 {
  font-size: 100px;
  color: white;
}

.hero-home .button-readmore {
  margin-top: 20px;
}

@media (max-width: 480px) {
  .hero-home {
    padding-top: 150px;
  }
}

@media (max-width: 480px) {
  .nav-tog {
    padding-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .nav-tog {
    padding-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .text-home p {
    font-weight: 400;
    font-size: 15px;
  }
  .text-home h1 {
    font-weight: bold;
    font-size: larger;
  }
}

section h1 {
  background-color: #a0137c !important;
  color: white;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

section .payment {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 40px !important;
  padding-right: 40px !important;
  color: white;
  font-size: 28px;
  text-align: center;
}

@media (max-width: 932px) {
  section .shipping-media {
    padding-top: 70px;
  }
}

@media (max-width: 320px) {
  section .shipping-media {
    padding-top: 70px;
  }
}

section .shipping-media .img-payment {
  padding-left: 50px !important;
  border-radius: 10px;
}

section .shipping-media .shipping {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 40px !important;
  padding-right: 40px !important;
  color: white;
  font-size: 28px;
  text-align: center;
}

section .shipping-media .img-shipping {
  border-radius: 10px;
  border-radius: 10px;
}

.main-about {
  height: 500px;
  width: 100%;
  background-image: url("img/about_us/about_uss.png");
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 632px) {
  .main-about .border-about {
    display: none;
  }
}

.main-contact {
  height: 110vh;
  width: 100%;
  background-image: url("img/contact_us/photo_2021-11-14_18-35-51.jpg");
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-contact h2 {
  color: #676767;
  font-style: italic;
  background-color: white;
  border: 3px solid white;
  padding: 20px 25px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
}

.h2-gallery {
  text-align: center;
}

.gallery-mobile .responsiv {
  width: 100%;
  max-width: 400px;
  height: auto;
}

@media (max-width: 480px) {
  .gallery-web {
    display: none;
  }
}

@media (max-width: 1440px) {
  .gallery-mobile {
    display: none;
  }
}

@media (max-width: 632px) {
  .gallery-mobile {
    display: block;
  }
}

.main-product {
  height: 110vh;
  width: 100%;
  background-image: url("img/background.png");
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-product1 {
  height: 110vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("img/background.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/background.png");
  background-blend-mode: multiply;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 632px) {
  .main-product1 .desktop {
    display: none;
  }
}

@media (max-width: 632px) {
  .desktop {
    display: none;
  }
}

@media (max-width: 1440px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 632px) {
  .mobile {
    display: block;
  }
}

.main-product h2 {
  color: #1d6fb8;
  font-style: italic;
  background-color: white;
  border: 3px solid white;
  padding: 20px 25px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
}

footer .footer-sub {
  padding-top: 50px;
}

footer .footer-sub h3 {
  padding-top: 50px;
  color: #a0137c;
  font-weight: bold;
  font-style: italic;
}

footer .footer-sub p {
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-sub ul li a {
  font-style: italic;
  text-decoration: none;
}

.main-process {
  height: 110vh;
  background-image: url("img/process/process_header.png");
  background-size: cover;
  background-color: #a0137c;
  background-blend-mode: multiply;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-process h2 {
  font-size: 100px;
}

.main-process h2 {
  font-size: 40px;
  color: white;
  font-style: italic;
  padding: 20px 25px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
}

.main-process3 {
  height: 480px;
  width: 100%;
  background-color: #a0137c;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-mobile {
  background-color: #a0137c;
}

.main-mobile .responsiv {
  width: 100%;
  max-width: 400px;
  height: auto;
}

@media (max-width: 480px) {
  .main-process3 {
    display: none;
  }
}

@media (max-width: 1440px) {
  .main-mobile {
    display: none;
  }
}

@media (max-width: 632px) {
  .main-mobile {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */